.events {
  height: 629px;
  background-image: url("./../images/specialty\'s-bg.png");
  text-align: center;

  &__title {
    letter-spacing: 5.59px;
    text-transform: uppercase;
    padding-top: 34.82px;
  }

  &__images {
    display: flex;
  }

  &__info {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;

    &--bold {
      font-weight: 700;
    }
  }
}
