.socialnets {
  display: flex;
  flex-direction: column;

  &__item {
    width: 55.91px;
    height: 55.91px;
    border: 0.93px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 18.64px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    margin: 0 auto;
  }
}
