.specialties {
  height: 629px;
  background-image: url("./../images/specialty\'s-bg.png");
  background-repeat: no-repeat;
  text-align: center;
  position: relative;

  &__title {
    letter-spacing: 5.59px;
    text-transform: uppercase;
    padding-top: 34.82px;
  }
}
