@import "vars";
@import "fonts";

@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/home.scss";
@import "./blocks/book.scss";
@import "./blocks/form.scss";
@import "./blocks/specialties.scss";
@import "./blocks/menu.scss";
@import "./blocks/events.scss";
@import "./blocks/slide.scss";
@import "./blocks/categories.scss";
@import "./blocks/dish.scss";
@import "./blocks/socialnets.scss";
@import "./blocks/slider.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 11.18px;
  font-weight: 700;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: grey;
}

.main {
  width: 1342px;
  margin: 0 auto;
  background-color: white;
}

@media screen and (max-width: 1342px) {
  .main {
    width: 100%;
  }
}
